
  .person-list-item {
    margin-top: 10px;
    color: rgb(19, 48, 18);
    transition: background-color 1s;
  }
  
  .person-list-item tr {
    padding-left: 25px;
    padding-bottom: 5px;
  }

  .ant-table-tbody > tr > td {
    padding: 4px 6px;
  }
  
  .remove-person-item {
    float: right;
    right: 20px;
  }
  
  #person-add-form {
    animation-duration: 1s;
    animation-name: slidein;
  }
  
  #nothing-was-found {
    margin-top: 50px;
  }

  .fixed-action-btn label {
    padding-right: 10px;
  }
  .custom-filter-dropdown {
    background-color: #fafafa;
    border: 0.1px solid #eeeeee;
    padding: 2px;
  }

  @keyframes slidein {
    from {
      opacity: 0;
    }
  
    to {
      margin-left: 1;
    }
  }