  .person-list-container {
    margin-top: 25px;
  }
  
  .person-list-item {
    margin-top: 10px;
    color: rgb(19, 48, 18);
    transition: background-color 1s;
  }
  
  .person-list-item tr {
    padding-left: 25px;
    padding-bottom: 5px;
  }

  .person-list-item tr .with-input .input-field {
    width: 70%;
    margin: 0 !important;
  }
  
  .person-list-item tbody tr:hover {
    background-color: #69c9bf !important;
  }
  .person-list-item thead tr th .with-top {
    top: 27px;
    position: relative;
  }

  .remove-person-item {
    float: right;
    right: 20px;
  }
  
  #person-add-form {
    animation-duration: 1s;
    animation-name: slidein;
  }
  
  #nothing-was-found {
    margin-top: 50px;
  }

  .fixed-action-btn label {
    padding-right: 10px;
  }
  
  @keyframes slidein {
    from {
      opacity: 0;
    }
  
    to {
      margin-left: 1;
    }
  }